h1 {
  font-family: sans-serif;
}

.create-company-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 36rem;
  app-button {
    margin-top: 0.6rem;
  }
}

.company-details {
  margin-top: 3rem;
  .employees-table-container {
    width: 100%;
    font-family: sans-serif;
    font-size: 20px;
    .remove-employee {
      display: flex;
    }
  }
  .no-employees {
    font-family: sans-serif;
    color: red;
    font-size: 18px;
  }
}
