.main-container {
  display: flex;
  margin: 8rem auto 4rem;
  max-width: 65rem;
  min-height: 16rem;
  background-color: white;
  border-radius: 10px;
  main {
    width: 100%;
    text-align: left;
    margin: 1rem 2rem;
  }
  aside {
    width: 20rem;
    background-color: black;
    border-radius: 10px 0 0 10px;
    .screen-navigator {
      color: white;
      text-align: left;
      font-family: sans-serif;
      font-size: 20px;
      border-bottom: 1px solid grey;
      padding: 1rem;
      cursor: pointer;
    }
  }
}
