.main-container {
  display: flex;
  margin: 8rem auto 4rem;
  max-width: 65rem;
  min-height: 16rem;
  background-color: white;
  border-radius: 10px;
  main {
    width: 100%;
    text-align: left;
    margin: 2rem;
  }
}
