<app-main-container>
  <h1 translate="lbl-create-employee"></h1>
  <div class="create-employee-form">
    <form
      method="POST"
      (ngSubmit)="saveEmployee()"
      [formGroup]="emplyoeeInfoForm"
    >
      <div class="employee-informations">
        <app-input
          id="firstName"
          formControlName="firstName"
          label="lbl-first-name"
          type="text"
        ></app-input>
        <app-input
          id="lastName"
          formControlName="lastName"
          label="lbl-last-name"
          type="text"
        ></app-input>
      </div>
      <app-dropdown
        id="company"
        formControlName="company"
        label="lbl-choose-company"
        [items]="companies"
      ></app-dropdown>
      <app-button type="submit" text="lbl-save"></app-button>
    </form>
  </div>
</app-main-container>

<app-toaster #toaster message="lbl-added-employee"></app-toaster>
